.App {
  text-align: center;
}

.mycv{
  display: flex;
  justify-content: space-around;
  background-color: #adf7b6;
  align-items: center;
  margin: 3%;
}
h2{
  color:#06b390;
  font-style: initial;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h6{
  color: #40798c;
  font-family: 'Times New Roman', Times, serif;
}
.products{
  font-style: initial;
  font-family: 'Times New Roman', Times, serif;
}
